:root {
 /********** colors **********/
    /* Primary */
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    /* Neutral */
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
}

html {
    font-size: 15px;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--very-light-gray);

}

.header {
    text-align: center;
    width: 83%;
    max-width: 34rem;
    margin: 5rem auto;
    color: var(--grayish-blue);
}

.header__title {
  font-size: calc(1.3rem + 1.4vw);
  font-weight: 400;
}
    

.header__title span {
    font-weight: 600;
    color: var(--very-dark-blue);
}

.header__paragraph {
  line-height: 1.5;
}
    
.cards {
    width: 85%;

    margin: auto;
}

.card {
    width: 352px;
    padding: 1.8rem;
    margin: auto;
    margin-bottom: 1.5rem;
    background-color: #fff;
    box-shadow: 0 10px 15px  hsla(212, 86%, 64%, 0.3);
    border-radius: 5px;
  }
  
  .card--super {
    border-top: 5px solid var(--cyan);
  }
  .card--team {
    border-top: 5px solid var(--red);
  }
  .card--karma {
    border-top: 5px solid var(--orange);
  }
  .card--calcu {
    border-top: 5px solid var(--blue);
  }
  
  .card__texts {
    margin-bottom: 2.1rem;
    color: var(--grayish-blue);
}

.card__title {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--very-dark-blue);
}

.card__paragraph {
    line-height: 1.5;
    font-weight: 200;
}

.card__icon {
    display: block;
    margin-left: auto;
}

@media screen and (min-width: 53rem) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
                "supervi team"
                "calcu karma";
    gap: 1.9rem;
  }
}

@media screen and (min-width:77rem) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
              "supervi team calcu" 
              "supervi karma calcu" ;
    align-items: center;
  }
    

  .card--super {
    grid-area: supervi;
    transform: translateY(-50%);
    
  }
  
  .card--team {
    grid-area: team;
  }
  
  .card--calcu {
    grid-area: calcu;
    transform: translateY(-50%);
  }

  .card--karma {
    grid-area: karma;
  }
}